.ocean-ui-comments-commentcomponent{
/*Background of 1vs1 message*/
background-image: url("https://cloud.githubusercontent.com/assets/10701638/14551852/6b2efebe-0313-11e6-9948-fe3a2ff7e24f.jpg");
}

.ocean-message-header {
/*The text area next to the other user's icon*/
    background-color: #000000;
    color: white;
}

.ocean-ui-comments-commentbase{
  height: 150px;
  margin: 20px auto;
  font-size: 1.2rem;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #FFF inset;
  background-color: rgba(0,0,0,0.9);
}
.ocean-ui-comments-commentbase-contents {
  width: 96%;
  white-space: pre;
  overflow: hidden;
  color:white;
  -webkit-animation: ozDq 4s steps(3000, end) ;
  /* Property: name, duration, timing-function */
}
.ocean-ui-comments-commentbase-contents:after {
  content: '▶';
  -webkit-animation: ozPulse 5s infinite ease;
  /* Property: name, duration ,iteration-count, timing function */
}


/*---------*/

.ocean-ui-actionmenu-popup, .ocean-message-thread .ocean-ui-comments-commentform-submit,
.ocean-message-thread .ocean-ui-comments-commentform-cancel, .ocean-ui-comments-linkpopup,
.removelink-confirm-btn-cybozu, 
.removelink-confirm-cybozu.removelink-confirm-container.removelink-popup-cybozu {
  font-size: 1.2rem;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #FFF inset;
  background-color: rgba(0,0,0,0.9);
}

.ocean-ui-actionmenu-popup-label {
/*Popup text from clicking "Action"*/
  width: 96%;
  font-size: 1.2rem;
  white-space: pre;
  overflow: hidden;
  color:white;
  -webkit-animation: ozDq 4s steps(3000, end) ;
  /* Property: name, duration, timing-function */
}

.removelink-confirm-btn-cybozu+.removelink-confirm-btn-cybozu{
  background-color: black;
}

.ocean-ui-comments-linkpopup {
    width: 37%;
}

.ocean-ui-comments-linkpopup-input{
  box-shadow: 0px 0px 0px #000000;
  border: 0px;
  color: white;
  background-color: black;
  padding: 0px;
  font-size: 1.2rem;
}

.ocean-ui-comments-linkpopup-input:focus { 
    /*Darekn text area of the permalink when focused on*/
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

.ocean-message-thread .ocean-ui-comments-commentform-textarea, 
.ocean-message-thread .ocean-ui-editor.ocean-ui-editor-seamless .ocean-ui-editor-field{
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

@-webkit-keyframes ozDq { from { width: 0; } }
@-moz-keyframes ozDq { from { width: 0 } }
@-webkit-keyframes ozPulse { { 
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes ozPulse {
from { opacity: 1; }
to { opacity: 0; }
}

